{% extends 'base.html' %}

{% block title %}
    Listagem de Professores
{% endblock %}

{% block main %}
    {% csrf_token %}

    <h3>Lista de professores cadastrados:</h3>
    <br>

        <div class="row">
            {% for prof in profs %}

                <div class="col-xs-12 col-md-8">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{% url 'gh_upd_prof' prof.id %}"> {{ prof.professor }} </a>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-4">
                    <a href="{% url 'gh_del_prof' prof.id %}" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>

            {% endfor %}
        </div>

	<aside>
	    <br><br>
        <a href="{% url 'list_links' %}" class="btn btn-success">Cadastros</a>
        <a href="{% url 'gh_cad_prof' %}" class="btn btn-success">Novo Professor</a>
	    <br><br>
   	    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
        <br><br>
	</aside>
{% endblock %}

{% block footer %}
    Copyright 2018 - TCC - Fatec-Ribeirão Preto
{% endblock %}


